.results {
    background-color: #3f93b4;
    color: white;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 3rem;
    margin-bottom: 8rem;
    border-radius: 12px;
    padding: 2rem;
    text-align: center;
    z-index: 1;
}

p {
    font-size: 1.1rem;
}

#resultstitle {
    margin-bottom: 3rem;
}

.timeSlots {
    white-space: pre-line;
}


@media only screen and (max-width: 1130px) {
    .results {
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 3rem;
    }
}

@media only screen and (max-width: 950px) {
    .results {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 2rem;
    }
}