
.daylight-wrapper {
    position: relative;
    width: 80%;
    margin: 30px auto;
  }
  
  .bar-container {
    position: relative;
    display: flex;
    height: 30px;
    border-radius: 20px;
    overflow: visible;
    /* border: 1px solid #ccc; */
    background-color: #0d2e4d;
    
  }
  
  .segment {
    height: 100%;
  }
  
  .night {
    background-color: #0d2e4d;
    border-radius: 20px;
  }
  
  .daylight {
    background: linear-gradient(to right, #fceabb, #f8b500);
  }
  
  .sunrise-marker,
.sunset-marker {
  position: absolute;
  top: -3rem;
  font-size: 1rem;
  /* color: palevioletred; */
  white-space: nowrap;
  transform: translateX(-50%);
  z-index: 10;
}

#imgsun {
    height: 2.5rem;
    color: #d87093;
}


