.search {
    background-color:darkblue;
    color: palevioletred;
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 5rem;
    border-radius: 12px;
    justify-content: space-evenly;
    padding: 2rem;
    align-items: center;
}

#custom-switch {
    
}

#location:invalid {
    border: 2px dashed red;
  }
